[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
matplotlib = "*"
apscheduler = "*"
nltk = "*"
tweepy = "*"
wordcloud = "*"
requests = "*"
werkzeug = "*"
flask-login = "*"
flask-sqlalchemy = "*"
six = "==1.5"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
