{% extends 'base.html' %}

{% block navigation %}
    <nav class="navbar">
        <a class="nav-logo">NBA Sentiment Analysis</a>
        <ul class="nav-links">
            <li class="nav-item"><a href="{{ url_for('main.index') }}">Home</a></li>

            {% if not current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
            <li class="nav-item"><a class="active" href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('main.profile') }}">Profile</a></li>
            <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block header %}
<h1 class="page-title">{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-box">
            <form method="POST" action="/login">
                <div class="login-field">
                    <div class="login-control">
                        <input type="email" name="email" placeholder="Email" autofocus="">
                    </div>
                </div>
                <div class="login-field">
                    <div class="login-control">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
<!--                <div class="login-field">-->
<!--                    <label class="login-checkbox">-->
<!--                        <input type="checkbox">-->
<!--                        Remember me-->
<!--                    </label>-->
<!--                </div>-->
                <button class="login-btn">Continue</button>
            </form>
        </div>
    </div>
{% endblock %}