html, body{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FA8320;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.flash {
    font-size: 1rem;
    margin: 1rem;

}

header {
    margin-bottom: 2rem;
    font-weight: bold;
}

.page-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161616;
    padding: 1rem;
}

.nav-logo {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1.5rem;
}

.nav-links {
    display: none;
    list-style: none;
    padding: 0;
}

.nav-item a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
}

.navbar li a:hover:not(.active) {
  background-color: #FA8320;
}

.navbar li a.active {
  background-color: #1DA1F2;
}

.icon {
    display: block;
}

.icon div {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    margin: 0.5rem 0;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .page-title {
        font-size: 3rem;
    }

    .nav-item a {
        padding: 1.5rem 1rem;
        font-size: 0.6rem;
    }

    .navbar {
        padding: 0rem 1rem;
    }
    .nav-logo {
        font-size: 1.25rem;
    }
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
    }
    .icon {
        display: none;
    }
    .icon div {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .page-title {
        font-size: 3rem;
    }

    .nav-item a {
        padding: 1.5rem 1rem;
        font-size: 0.75rem;
    }

    .navbar {
        padding: 0rem 1rem;
    }
    .nav-logo {
        font-size: 1.5rem;
    }
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
    }
    .icon {
        display: none;
    }
    .icon div {
        display: none;
    }
}

/* *********************************************************** */


.home-instructions {
    margin-bottom: 0;
    color: white;
}

.home-submit {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    border-style: none;
    font-weight: bold;
    color: black;
}

.home-submit:hover {
    background-color: #F6EFED;
}

.home-submit:active {
    transform: scale(1.25);
}

.home-dropdown {
    font-size: 1.25rem;
    text-align: center;
    padding: 0.5rem 0rem;
    margin: 2rem;
    border-radius: 1rem;
    border-style: none;
    font-weight: bold;
}

.home-dropdown option {
    font-size: 1rem;
}

.home-title {
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.home-nba-logo {
    width: 30%;
    height: auto;
    margin-top: 3rem;
}

/* *********************************************************** */

.res {
    display: block;
    margin: 0rem 1rem;
}

.res-row {
    display: block;
}

.res-box {
    margin-bottom: 3rem;
}

.res-content {
    width: 100%;
}

.res-cloud {
    border-radius: 1rem;
}

.res-tweets {
    display: block;
    height: 30rem;
    width: auto;
    overflow: auto;
    padding: 0% 5%;
    background-color: #1DA1F2;
    text-align: left;
    border-radius: 1rem;

}

.res-tw-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    font-size: 0.75rem;
}

.res-tw-usr {
    display: block;
    margin-right: 5%;
    text-align: center;
}

.res-tw-usr-img {
    width: 5rem;
    border-radius: 50%;
    height: auto;
}

.res-tw-usr-name {
    color: white;
}

.res-tw-link {
    text-decoration: none;
}

.res-tw-time {
    color: white;
}

.res-tweets-box h3, .res-arts-box h3 {
    text-align: center;
}

.res-arts-box {
    display: block;
}

.res-arts {
    width: auto;
    display: block;
    background-color: black;
    border-radius: 1rem;

}

.res-art-container {
    padding: 1rem;
    font-size: 0.75rem;
}

.res-art-link {
    color: white;
    text-decoration: none;
}


.res-art-img {
    height: auto;
    max-width: 100%;
    border-radius: 1rem;
    width: 50%;
}

.res-return {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    border-style: none;
}

.res-return:hover {
    background-color: #F6EFED;
}

.res-return:active {
    transform: scale(1.5);
}

@media only screen and (min-width: 769px) {
    .res-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .res-box {
        display: block;
        width: 50%;
    }

    .res-content {
        width: 80%;
    }

    .res-tweets {
        margin: auto;
    }

    .res-art-img {
        width: 20rem;
    }

    .res-art-container {
        padding: 2rem;
        font-size: 1rem;
    }
}

/* *********************************************************** */

.pro-saved-title {
    font-size: 2rem;
}

.pro-saved-list {
    margin-bottom: 5rem;
}

.pro-saved-team-box {
    display: inline-block;
    margin-right: 2rem;
    border-radius: 2rem;
    position: relative;
}

.pro-saved-team-btn {
    padding: 1rem;
    border-radius: 1rem;
    border-style: none;
    background-color: #161616;
    transition: all .2s ease-in-out;
}

.pro-saved-team-btn:hover {
    transform: scale(1.1);
}

.pro-saved-team-name {
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.pro-saved-team-logo {
    width: 4rem;
    height: 4rem;
}


.pro-saved-team-title {
    font-size: 2.5rem;
}

.pro-saved-team-remove {
    position: absolute;
    top: 8px;
    width: 2rem;
    height: auto;
}

.pro-saved-team-remove-btn {
    border-style: none;
}

.pro-content {
    display: none;
    margin-bottom: 5rem;
}

.pro-save-form {
    margin-bottom: 5rem;
}

.pro-stats-title {
    font-size: 2rem;
    font-weight: bold;
}

.pro-stats-box {
    text-align: center;
}

.pro-stat {
    font-size: 1.5rem;
}

.pro-save-another {
    font-size: 2rem;
    margin-bottom: 0;
}



/* *********************************************************** */

.login-control input, .sign-control input{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-style: none;
}

.login-field, .sign-field {
    margin-bottom: 2rem;
}

.login-btn, .sign-btn {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border-style: none;
    font-size: 1rem;
}

.login-btn:hover, .sign-btn:hover {
    background-color: #F6EFED;
}

.login-btn:active, .sign-btn:active {
    transform: scale(1.25);
}

