body {
    background-color: black;
    font-family: "Calibri";
    text-align: center;
    color: white;
}

.title {
    font-size: 3rem;
}

.wordcloud {
    margin: 0% 0% 5% 5%;
}

.bar {
    margin: 0% 5% 5% 0%;
}

.media {
    display: flex;
    margin-bottom: 10%;
}

.articles {
    height: 30rem;
    width: auto;
    overflow: auto;
    flex: 1;
    padding: 0% 5%;
}

.article-img {
    width: 20rem;
    height: auto;
}

.article-link {
    color: white;
}

.tweets {
    height: 30rem;
    width: auto;
    overflow: auto;
    flex: 1;
    padding: 0% 5%;
}

.tw-user-img {
    width: 10rem;
    height: auto;
}

.return {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    border-style: none;
}

.return:hover {
    background-color: blue;
}

.return:active {
    transform: scale(1.5);
}